<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">AREA</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="nav navbar-nav navbar-expand navbar-right">
    <div *ngIf="connected === false" class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/signin">Login</a>
      <a class="nav-item nav-link" routerLink="/signup">Sign Up</a>
    </div>
    <div *ngIf="connected === true" class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()" routerLink="">Logout</a>
    </div>
  </div>
</nav>
