<section class="hero">
  <div class="text-center home">
    <div class="col-md-12 bg">
      <div class="caption">
        <h1 class="text-dark">
          <strong>A world that works for you</strong>
        </h1>
        <p class="text-dark">
          AREA is the free way to get all your apps and devices talking to each other. Not everything on the internet plays nice, so we're on a mission to build a more connected world.
        </p>
        <button type="button" class="btn btn-dark" routerLink="/signup">Start here !</button>
      </div>
    </div>
  </div>
</section>
